body {
    background-color: turquoise;
}
$amount: 5;

.hex-grid_list {
    --amount: 5;
    --counter: 1;
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(var(--amount), 1fr, 2fr) 1fr;
    grid-gap: 1rem 2rem;
    transform: scale(0.5, 0.5);
}

.hex-grid_item {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    height: 0;
    padding-bottom: 100%;
}

.hex-grid_content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    padding: 2rem 25%;
}