
.square {
  height: calc(1.5* 700px);
  width: calc(1.5*500px);
  background-color:rgb(21, 54, 124); 
  position: relative;
  top: 50%;
  bottom: 50%;
  animation-name: lightSpeedInLeft;
  transition-timing-function: ease-out;
  animation-duration: 2s;
}
@keyframes lightSpeedInLeft {
  from {background-color:rgb(255, 255, 255); transform: translate3d(-100%, 0, 0) skewX(30deg);opacity: 0;}
  60% {transform: skewX(-20deg);opacity: 1;}
  80% {transform: skewX(5deg);}
  to {background-color:rgb(21, 54, 124); transform: translate3d(0, 0, 0);}
}

.square1 {
  height: calc(1.5*300px);
  width: calc(1.5*500px);
  background: rgb(53, 151, 114);
  position: absolute;
  top: 80%;
  bottom: 50%;
  animation-name: lightSpeedInRight;
  animation-duration: 2s;
  transition-timing-function: ease-out;
}
  
@keyframes lightSpeedInRight {
  from {background-color:rgb(254, 254, 255);  transform: translate3d(100%, 0, 0) skewX(-30deg);opacity: 0;}
  60% {transform: skewX(20deg);opacity: 1;}
  80% {transform: skewX(-5deg);}
  to {background-color:rgb(53, 151, 114);  transform: translate3d(0, 0, 0);}
}

.circle {
  height: calc(1.5*300px);
  width: calc(1.5*300px);
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  margin-left: 140px;
  top: 45%;
  bottom: 50%;
  animation-name: bounce;
  animation-duration: 1.5s;
}
.circle:hover {
  background-color: seashell;
}

@keyframes bounce {
  from {top: -100%;}
  20% {background:rgb(252, 253, 255);}
  40%,43% {animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);transform: translate3d(0, -30px, 0) scaleY(1.1);}
  80% {animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);transform: translate3d(0, -15px, 0) scaleY(1.05);}
  85% {transition-timing-function: cubic-bezier(0.515, 0.61, 0.355, 1);transform: translate3d(0, 0, 0) scaleY(0.95);}
  90% {background:rgb(21, 54, 124) translate3d(0, -8px, 0) scaleY(1.02);}
  to {animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);transform: translate3d(0, 0, 0);}
}

.Titel {
    font-family: 'Roboto';
    font-size: calc(1.5*40px);
    color: white;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0.25px;
    margin-left: 15px;
    top: 15%;
    bottom: 50%;
    word-spacing: 50px;
    animation-name: text;
    animation-duration: 2s;
    transition-timing-function: ease-in;
  }
.Titel:hover {
  transform: scale(0.8); rotate: 90deg;
  height: 500px;
  left: 200px;
}

  @keyframes text {
    from {left: -500px;}
    to {left: 0px;}
  }

  img {
    height: 25%;
    width: 25%;
    float: right;
  }
